<mat-card class="container">
  <mat-card-header>
    <mat-card-title>{{interfaceProperty['titulo']['meus_dados']}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-field-container">
          <mat-form-field class="form-field-md" appearance="outline">
            <mat-label>{{interfaceProperty['label']['id']}}</mat-label>
            <input formControlName="id" type="text" matInput readonly>
          </mat-form-field>

          <mat-form-field class="form-field-md" appearance="outline">
            <mat-label>{{interfaceProperty['label']['usuario']}}</mat-label>
            <input formControlName="name" matInput readonly>
          </mat-form-field>

          <mat-form-field class="form-field-md" appearance="outline">
            <mat-label>{{interfaceProperty['label']['email']}}</mat-label>
            <input formControlName="email" matInput readonly>
          </mat-form-field>
      </div>

      <div class="button-container-sb">
        <button color="accent" class="button-primary" mat-raised-button type="submit">{{interfaceProperty['label']['alterar']}}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
