:host {
  display: flex;
  justify-content: center;
}

.logo-perfil {
  display: flex;
  justify-content: center;
}

.logo-perfil mat-icon {
  transform: scale(4);
  margin: 70px 0 50px 0;
}

mat-card-header {
  justify-content: center;
  text-align: center;
}

mat-card-title {
  font-size: 34px !important;
}

mat-card {
  width: 500px;
  min-width: 350px;
  max-height: 450px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  :host {
    width: 100%;
    margin: 28px 0;
  }
}
