@use '@angular/material' as mat;

$agide-palette: (
 50: #FFFFFF,
 100: #DADADA,
 200: #FFF3E0,
 300: #FF7868,
 400: #E94839,
 500: #E64B39,
 600: #E11503,
 700: #535353,
 800: #2A2D36,
 900: #1D1F25,

 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(white, 0.87),
   500: rgba(white, 0.87),
   600: rgba(white, 0.87),
   700: rgba(white, 0.87),
   800: rgba(white, 0.87),
   900: rgba(white, 0.87),
 )
);

$active-typography: mat.define-typography-config(
  $font-family: 'Roboto',
);

$primary-color: #E64B39;
$contrast-color: #1D1F25;
$sidenav-background-color: #DDD
