
::ng-deep .mat-mdc-dialog-surface {
  min-width: 75vw !important;
  border-radius: 20px !important;
  padding: 10px !important;
}

.answers {
  width: 100% !important;
  display: flex;
  flex-direction: column !important;
  margin-top: 28px !important;
}

.drop-list {
  width: 100% !important;
  display: flex;
  flex-direction: column !important;
  margin-left: 0 !important;
}

.drop-list-box {
  display: flex !important;
  align-items: center !important;
  height: 100px;
  cursor: move;
}

.drag-indicator {
  opacity: 0;
  margin: 0 5px 0 0 !important;
}

.drop-list-box button {
  display: flex !important;
  align-items: center !important;
}

.drop-list-box:hover {

  .drag-indicator {
    opacity: 1;
  }
}

.drop-list-box .form-field-md {
  cursor: default;
  margin-right: 15px;
}

.add-answer-container {
  display: flex;
  margin-top: 20px;
}

.adicionar-opcao {
  margin-bottom: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .drag-indicator {
    opacity: 1;
  }
}

.cdk-drag-placeholder {
  opacity: 0;

}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent !important;
}

.form-field-box {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {

  ::ng-deep .mat-mdc-dialog-surface {
    min-width: 100vw !important;
    border-radius: 0 !important;
  }

}
