<div class="signup-container">
  <mat-card-header class="acesso-title">
    <mat-card-title>{{interfaceProperty['titulo']['criar_conta']}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-field-fw">
          <mat-label>{{interfaceProperty['label']['email']}}</mat-label>
          <input
            formControlName="email"
            matInput
            required
            type="email"/>
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              O campo {{interfaceProperty['label']['email']}} é obrigatório!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-fw">
          <mat-label>{{interfaceProperty['label']['senha']}}</mat-label>
          <input
            formControlName="password"
            matInput
            minlength="6"
            required
            [type]="hide ? 'password' : 'text'"/>

          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="form.controls['password'].hasError('required')">
            O campo {{interfaceProperty['label']['senha']}} é obrigatório!
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('minlength')">
            O campo {{interfaceProperty['label']['senha']}} deve ter no mínimo 6 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-fw">
          <mat-label>{{interfaceProperty['label']['nome']}}</mat-label>
          <input
            formControlName="name"
            matInput
            required
            type="text"/>

          <mat-error *ngIf="form.controls['password'].hasError('required')">
            O campo {{interfaceProperty['label']['nome']}} é obrigatório!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-fw">
          <mat-label>{{interfaceProperty['label']['cpf']}}</mat-label>
          <input
            formControlName="cpf"
            [mask]="'000.000.000-00'"
            matInput
            required
            type="text"/>

          <mat-error *ngIf="form.controls['password'].hasError('required')">
            O campo {{interfaceProperty['label']['cpf']}} é obrigatório!
          </mat-error>
        </mat-form-field>

      <div class="button-container-ct">
        <button color="primary" class="button-primary width-100" mat-raised-button type="submit">{{interfaceProperty['label']['cadastrar']}}</button>
      </div>

    </form>
  </mat-card-content>
</div>
