:host {
  width: 100% !important;
  height: 100% !important;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0 !important;
}

.element-detail {
  display: flex !important;
}

.element-description-attribution {
  opacity: 0.5 !important;
}
