<mat-card class="container">
  <mat-card-header>
    <mat-card-title class="title">{{interfaceProperty['titulo']['campanhas']}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form>
      <mat-form-field class="form-field-md" appearance="outline">
        <mat-label>{{interfaceProperty['label']['filtrar']}}</mat-label>
        <input matInput type="text" (keyup)="aplicarFiltro($event)" placeholder="Ex. Campaign" #input>
      </mat-form-field>
    </form>

    <section class="table-container" tabindex="0">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">{{interfaceProperty['label']['id']}} </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> {{interfaceProperty['label']['nome']}} </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description"> {{interfaceProperty['label']['descricao']}} </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="starts_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by starts_at"> {{interfaceProperty['label']['inicio']}} </th>
          <td mat-cell *matCellDef="let element"> {{element.starts_at}} </td>
        </ng-container>

        <ng-container matColumnDef="stop_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stop_at"> {{interfaceProperty['label']['fim']}} </th>
          <td mat-cell *matCellDef="let element"> {{element.stop_at}} </td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by active"> {{interfaceProperty['label']['ativo']}} </th>
          <td mat-cell *matCellDef="let element"> {{element.active}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> {{interfaceProperty['label']['acoes']}} </th>
          <td mat-cell *matCellDef="let element">
            <button class="action-button" mat-mini-fab color="primary" (click)="editarCampanha(element)" matTooltip="{{interfaceProperty['label']['editar']}} {{interfaceProperty['label']['campanha']}}"><mat-icon>edit</mat-icon></button>
            <button class="action-button" mat-mini-fab color="primary" (click)="excluirCampanha(element)" matTooltip="{{interfaceProperty['label']['excluir']}} {{interfaceProperty['label']['campanha']}}"><mat-icon>delete</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" *ngIf="dataSource._data._value.length > 0"> {{interfaceProperty['mensagem']['nenhum_dado_corresponde_filtro']}} "{{input.value}}".</td>
          <td class="mat-cell" colspan="4" *ngIf="dataSource._data._value.length === 0">{{interfaceProperty['mensagem']['nenhum_item_encontrado']}}</td>
        </tr>
      </table>

      <div class="table-footer">
        <button class="button-grow" (click)="incluirCampanha()" mat-mini-fab color="primary" matTooltip="{{interfaceProperty['label']['incluir']}} {{interfaceProperty['label']['campanha']}}">
          <mat-icon>add</mat-icon>
        </button>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons>
        </mat-paginator>
      </div>
    </section>
  </mat-card-content>
</mat-card>
